In [1]:
# sets

# creating sets

nums = {10, 20, 30, 40, 50}

nums

{10, 20, 30, 40, 50}

In [2]:
type(nums)

set

In [3]:
nums.add(60)
nums

{10, 20, 30, 40, 50, 60}

In [5]:
nums.remove(60)
nums

{10, 20, 30, 40, 50}

In [6]:
# checking existances

print(2 in nums)

False

In [7]:
print(50 in nums)

True

In [8]:
# Dictioneries 

user = {
    "name" : "Shailesh",
    "city" : "Mumbai",
    "role" : "Data Scientist"
}

In [9]:
user

{'name': 'Shailesh', 'city': 'Mumbai', 'role': 'Data Scientist'}

In [10]:
user["name"]

'Shailesh'

In [11]:
user.get("city")

'Mumbai'

In [12]:
# add new key 

user["Experience"] = "5  years"

user

{'name': 'Shailesh',
 'city': 'Mumbai',
 'role': 'Data Scientist',
 'Experience': '5  years'}

In [13]:
# update value 

user["role"] = "ML Engineer"

user

{'name': 'Shailesh',
 'city': 'Mumbai',
 'role': 'ML Engineer',
 'Experience': '5  years'}

In [14]:
for key , value in user.items():
    print(key , ":", value)

name : Shailesh
city : Mumbai
role : ML Engineer
Experience : 5  years