In [2]:
# 1) Reverse a string without using reverse()
 
language = "Python"

language[::-1]

'nohtyP'

In [9]:
# 2) Count vowels in a string

role = "Data Science"

vowels = ["a", "e", "i", "o", "u"]

count = 0

for a in role:
    if a in vowels:
        count +=1
print(count)

5

In [10]:
# 3) Check if a word is a palindrome


word = "madam"

word == word[::-1]

True

In [12]:
# (ignore spaces + caps)

def is_pali(word):
    word = word.replace(" ", "").lower()
    return word == word[::-1]

print(is_pali("Race CAR"))

True

In [15]:

# Swap two variables without using third variable

a = 10
b = 20

a , b , = b, a

print(a, b)

20 10

In [16]:
# Convert string number to integer and add 50

x = "100"

x = int(x)

x = x + 50

print(x)

150

In [18]:
# Remove spaces from a string

spaces = "Hello Data Science Professionals"

s = spaces.replace(" ", "")

print(s)

HelloDataScienceProfessionals

In [19]:
# Check if two strings are anagrams

s1 = "listen"
s2 = "silent"

print(sorted(s1) == sorted(s2))

True

In [20]:
# Find second largest number in list

nums = [10, 60 , 30 , 20 , 50]

nums.sort()

print(nums[-2])

50

In [ ]:
# Remove duplicates from list and sort

nums = [1, 1, 2,3,3,2,4,4,5,2.6]

print(sorted(list(set(nums))))

[1, 2, 2.6, 3, 4, 5]

In [23]:
# unpacking typles 

coords =(10, 20, 15)

x , y , z = coords

print(x, y , z)

10 20 15

In [24]:
# Convert tuple to list

t = (1,2,3,4,5,6,7)

list(t)

[1, 2, 3, 4, 5, 6, 7]

In [25]:
# Find common elements between two sets

A = {1,2,3}
B = {2,3,4}

print(A.intersection(B))

{2, 3}

In [29]:
# Remove element from a set

s = {10, 30, 40}

s.remove(30)

print(s)

{40, 10}

In [31]:
# Count char frequency in string

text = "Banana"

freq = {}

for ch in text:
    freq[ch] = freq.get(ch, 0)+ 1

print(freq)

{'B': 1, 'a': 3, 'n': 2}

In [35]:
# Print keys and values separately

user = {
    "user" : "Shailesh",
    "Experience" : 3,
    "city" : "Mumbai"

}

user.keys()

dict_keys(['user', 'Experience', 'city'])

In [36]:
user.values()

dict_values(['Shailesh', 3, 'Mumbai'])